@import "./src/stylesheets/breakpoints";

.TheNavbar {

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    height: 80px;
    background: #F3F3F3;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $bp-xs-min) {max-width: 80%;}
    @media (min-width: $bp-sm-min) {max-width: 750px;}
    @media (min-width: $bp-xmd-min) {max-width: 970px;}
    @media (min-width: $bp-lg-min) {max-width: 1190px;}
  }

  &__brand,
  &__nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .form-link--green {
      margin-left: 10px;
    }
  }

  &__brand {
    @media (max-width: $bp-xs-min) {margin-left: 14px;}
  }

  &__logo {
    width: 56px;
    height: 56px;
    margin-right: 14px;
  }

  &__nav-link {
    font-size: 12px;
    color: #4A4A4A;
    letter-spacing: -.27px;
    text-decoration: none;

    & + & {
      padding-left: 12px;
    }
  }

  &__place-search {
    width: 348px;
    display: flex;
    align-items: center;
    position: relative;

    &-field {
      height: 48px;
      width: 100%;
      font-size: 14px;
      color: #4A4A4A;
      background: #F3F3F3;
      border-radius: 2px;
      border: none;
      padding: 0 38px 0 12px;
      outline: none;
    }

    &-reset {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
      font-size: 18px;
      color: #000000;
      cursor: pointer;
    }
  }

  &__profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin-right: 40px;
    transition: transform .35s ease-out, opacity .35s ease-out .2s;

    &-username {
      font-size: 14px;
      color: #4A4A4A;
      letter-spacing: -.31px;
    }

    &-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      margin-right: 12px;
    }
  }

  &__notifications {
    font-size: 30px;
    color: #232323;
    cursor: pointer;
    margin-right: 24px;
    transition: transform .35s ease-out, opacity .35s ease-out;
    position: relative;

    &-badge {
      font-size: 14px;
      color: #FFF;
      background-color: #50E3C2;
      padding: 2px 6px;
      border-radius: 6px;
      position: absolute;
      top: 0;
      right: -5px;
    }
  }

  &__nav-actions {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
}
