$bp-lg-max: 1440px;
$bp-lg-min: 1201px;

$bp-md-max: 1200px;
$bp-md-min: 1025px;

$bp-xmd-max: 1024px;
$bp-xmd-min: 993px;

$bp-sm-max: 992px;
$bp-sm-min: 769px;

$bp-xs-max: 768px;
$bp-xs-min: 561px;

$bp-xxs-max: 560px;
