@import "breakpoints";

.form-row {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
}

.form-row + .form-row,
.form-actions + .form-row {
  padding-top: 19px;
}

.form-row--tight {
  @extend .form-row;

  & + & {
    padding-top: 2px;
  }
}

.form-row--cols {
  @extend .form-row;
  display: flex;
}

.form-col {
  flex-grow: 1;
  position: relative;

  & + & {
    margin-left: 2px;
  }
}

.form-label {
  line-height: 12px;
  font-weight: 400;
  display: block;
  margin: 5px 0;
  font-size: 14px;
  color: #333;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form-field {
  display: block;
  width: 100%;
  height: 43px;
  padding: 20px 3px 6px 8px;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  letter-spacing: .14px;
  -webkit-font-smoothing: antialiased;
  background-color: #E9E8E8;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  text-align: left;
  outline: none;

  &.is-danger {
    border: 2px solid #dd475a;
  }

  &.icon-inside {
    padding-right: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.form-help {
  display: block;
  font-size: 11px;
  margin-top: 5px;
  transition: all .4s ease;

  &.is-danger {
    color: #dd475a;
  }
}

.form-hidden-validator {
  display: none;
}

.form-textarea {
  @extend .form-field;
  height: 126px;
  resize: none;
}

.form-submit.processing {
  opacity: .4;
  pointer-events: none;
}

.form-actions {
  margin-top: 19px;
  display: flex;

  &.full [class^=btn-] {
    width: 100%;
  }

  &.center {
    justify-content: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.pull-right {
    justify-content: flex-end;
  }

  &.pull-left {
    justify-content: flex-start;
  }

  &.pull-down {
    align-items: flex-end;
  }

  &.pull-top {
    align-items: flex-start;
  }
}

.textarea {
  resize: none;
  display: block;
  width: 100%;
  height: 68px;
  padding: 3px 3px 3px 10px;
  border: 1px solid #B4C0CB;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  border-radius: 2px;
  font-size: 15px;
  color: #253540;
  font-weight: 400;
  letter-spacing: 0.5px;
  background-color: #FFFFFF;
  text-align: left;
  outline: none;
}

.form-button {
  position: relative;
  font-size: 14px;
  letter-spacing: 2.62px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  min-width: 167px;
  padding: 3px 22px;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  background-color: #9B9B9B;
  outline: none;
  user-select: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  @media (max-width: $bp-xs-max) {
    min-width: 107px;
  }

  &.icon-inside {
    justify-content: flex-start;
    & > [class^="icon-"] {
      font-size: 24px;
    }
    & > .icon-btn-success {
      font-size: 14px;
      color: #50E3C2;
      padding-left: 8px;
    }
  }

  & + & {
    margin-left: 16px;
  }

  &.processing {
    pointer-events: none;
    opacity: .8;
  }
}

.btn-submit {
  @extend .form-button;
  background-color: #50E3C2;
}

.btn-cancel {
  @extend .form-button;
  color: #212121;
  background-color: #FFFFFF;
}

.btn-link {
  @extend .form-button;
  border: none;
  letter-spacing: -0.31px;
  text-transform: capitalize;
  padding: 0 8px;
  min-width: 0;
  text-decoration: none;
  line-height: 16px;
}

.form-link {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.form-title {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 2.62px;
  text-transform: uppercase;
}
