.HamburgerBtn {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;

  &__box {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 24px;
  }

  &__inner,
  &__inner:before,
  &__inner:after {
    position: absolute;
    width: 33px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #4A4A4A;
  }

  &__inner {
    top: 10px;
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: 75ms;

    &:before,
    &:after {
      display: block;
      content: '';
    }

    &:before {
      top: -10px;
      transition: top 75ms ease .12s, opacity 75ms ease;
    }

    &:after {
      bottom: -10px;
      transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
    }
  }

  &.is-active &__inner {
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: rotate(45deg);
  }

  &.is-active &__inner:before {
    top: 0;
    transition: top 75ms ease,opacity 75ms ease .12s;
    opacity: 0;
  }

  &.is-active &__inner:after {
    bottom: 0;
    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
    transform: rotate(-90deg);
  }
}
